<h2>PROFIL</h2>
<h3>
  Angehender Cloud Experte mit vielseitigem Hintergrund in Online-Marketing,
  MarTech und Cloud-Technologien.
</h3>
<p>
  Meine Karriere begann im Online-Marketing, von wo aus ich auf der Suche nach
  einer technischeren Rolle in den Bereich MarTech überging und mich auf
  Web-Tracking und Tag-Management spezialisierte. Als ich meine Begeisterung für
  IT- und Cloud-Themen erkannte, begann ich mich intensiv mit AWS
  auseinanderzusetzen. Während dieser Zeit erhielt ich bei meinem letzten
  Arbeitgeber die Chance, mich eigenverantwortlich in verschiedenen
  Programmiersprachen und Cloud-Technologien fortzubilden. Nun bin ich bereit,
  mein umfassendes theoretisches Wissen und meine bisherigen praktischen
  Erfahrung in einer Rolle mit Cloud Fokus unter Beweis zu stellen.
</p>
