<h2>KONTAKT</h2>
<h3>Telefon</h3>
<span>&nbsp;&nbsp;&nbsp;&nbsp;{{ personalInfo?.phone }}</span>
<h3>Addresse</h3>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;{{ personalInfo?.address_1 }}<br />
  &nbsp;&nbsp;&nbsp;&nbsp;{{ personalInfo?.address_2 }}
</p>
<h3>E-Mail</h3>
<p>&nbsp;&nbsp;&nbsp;&nbsp;{{ personalInfo?.email }}</p>
<h3>LinkedIn</h3>
<p>&nbsp;&nbsp;&nbsp;&nbsp;{{ personalInfo?.linkedin }}</p>
<br />
<h2>SKILLS</h2>
<h3>Sehr gute Kenntnisse</h3>
<ul>
  <li>JavaScript/TypeScript</li>
  <li>HTML</li>
  <li>CSS</li>
</ul>
<h3>Gute Kenntnisse</h3>
<ul>
  <li>AWS</li>
  <li>Angular</li>
  <li>Node</li>
</ul>
<h3>Grundkenntnisse</h3>
<ul>
  <li>Docker</li>
  <li>Kubernetes</li>
  <li>Python</li>
</ul>
<br />
<h2>ZERTIFIZIERUNGEN</h2>
<ul>
  <li>Certified Kubernetes Application Developer (CKAD)</li>
  <li>AWS Certified Cloud Practicioner</li>
</ul>
<br />
<h2>BILDUNG</h2>
<ul>
  <li>
    B.A. Informationswissenschaft & Sprachtechnologie,
    Heinrich-Heine-Universität Düsseldorf
  </li>
</ul>
