:host {
    display: flex;
    flex-flow: row wrap;
}

@media (max-width: 880px) {
    :host {
        flex-flow: column nowrap;
    }

    app-header {
        order: 1;
    }

    app-main {
        order: 2;
    }

    app-side {
        order: 3;
    }
}