/* You can add global styles to this file, and also import other style files */
body {
  max-width: 1400px;
  border: 1px solid black;
  margin: 0 auto;
  font-family: "Oswald";
  background-color: whitesmoke;
  font-size: 1.2rem;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.25rem;
  margin: 0 0 1rem 0;
  line-height: 100%;
}

h3 {
  font-weight: 400;
  margin: 0;
}

h4 {
  margin: 0;
  font-weight: 300;
}

p {
  font-weight: 300;
  margin: 0 0 0.5rem 0;
  text-align: justify;
}
span {
  font-weight: 300;
  margin: 0.5rem 0 0.5rem 0;
}

.block {
  display: flex;
  margin: 3rem 5rem 0 5rem;
  flex-flow: column nowrap;
  max-width: 100%;
}
ul {
  list-style-type: square;
  margin: 0.5rem 0 0.5rem 0;
}

li {
  font-weight: 300;
}

@media (max-width: 1100px) {
  .block {
    margin: 3rem 3rem 0 3rem;
  }
}

@media (max-width: 660px) {
  .block {
    margin: 2rem 2rem 0 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
  }
}
